@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #363636;

  --pattern-color: #efefef;
  --pattern-size: 1.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #e0e0e0;

    --pattern-color: #2a2a2a;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: radial-gradient(
    var(--pattern-color) calc(var(--pattern-size) * 0.1),
    var(--background) calc(var(--pattern-size) * 0.1)
  );
  background-size: 1.49rem 1.49rem;
}
